 
 body {
   /* font-variant-caps: petite-caps; */
   margin:0px;
   font-size: 14pt;

 }
.logo{
   line-height: 150px;
        
        width:150px;
        margin: auto;
        margin-top: 15px;
                border-radius: 50%;
        background: gray;
    color: black;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .greyMain{
   width: 70%;
   height: 100vh;
   background: gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
display: block;
   float: left;
 }

 a {
    text-decoration: none;
    color: black;

 }

 .golden{
   text-align: center;   width: 30%;
   height: 100vh;
background: goldenrod;
z-index: -2;
position: sticky;
float: left
 }

 /* a:visited{
   color: #404040;
 } */

 a:hover {
   /* color: #0e0d0d; */
   text-decoration: underline;

 }


 @media only screen and (max-width: 800px) {
   .greyMain{display: none;}
   .golden{
      width: 100%;
   }
 }