 
 body {
   /* font-variant-caps: petite-caps; */
   margin:0px;
   /* font-size: 12pt; */
   background: linear-gradient(to bottom,#55828B 18%, black 50%, #55828B 16%);
  /* scroll-behavior: smooth;  */
   overflow-y: scroll;
   font-family: sans-serif; 
   font-size: 16px; 
   font-style: normal;
   width: 100vw;

 }
 .bottomTime{
  background: linear-gradient(to bottom,black 8%, #55828B 90%, goldenrod);
  z-index: -7; padding-bottom: 300px
 }
 .circle{

 float: left;
    width: 10px;
    height: 10px;
    background: #3b1642;
    border-radius: 50%
  
 }
 dl {
  text-align: left;

  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 5px;
  margin-left: 5px;
}

dt {
  text-align: left;

  align-self: flex-start;
  display: block;
  margin-bottom: 20px;
  margin-left: 69px;
}

.graphSkills{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 30px;
}

.craftBox{
  position: relative;
  /* text-align: right; */
  float: left;
  width: 50%;
}

.text {
  text-align: left;
  float: left;
  display: flex;
  height: 90px;
  width: 100px;
  position: absolute;
  left: 0;
  /* justify-content: flex-end; */
}

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 80%;
  height: 40px;
  margin-left: 100px;
  background: repeating-linear-gradient(
  to right,
  transparent,
  #55828B 1px,
  transparent 1px,
  transparent 10%
)};

.bars{
  padding: 15px;
  display: block;
  background:#3b1642;
}



.logo{
  line-height: 150px;
  border: 1px solid black;

  width:150px;
  margin: auto;
  margin-top: 15px;
  border-radius: 50%;
  background: gray;
  color: black;
  display: block;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.g-logo{
  /* line-height: 150px; */
  text-align: center;
  float: left;
  
  position: fixed;
  height: 50px;
  border: 1px solid black;
  width:50px;
  margin: 15px;
  border-radius: 50%;
  background: goldenrod;
  color: black;
  display: none;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.hero{
  color: #3b1642;
  /* color: #632242; */
  /* color:#5d2042; */
  vertical-align: middle;
  margin-top:15%;
  position: fixed;
  z-index: -6;
  width:100vw;
  text-align: center;
  height: 100vh;
  font-size: 30pt;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.hero2{
  margin-top:50%;
  color: #3b1642;
  position: relative;
  z-index: 2;
  width:100%;
  position: relative;

  text-align: center;
  font-size: 30pt;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.greyInside{
  padding: 8px
}

.mainBox{
  z-index: 4;
  position: relative;
  padding-top: 35px; 
  padding-bottom: 35px; 
  padding-right: 0px;
  padding-bottom: 0px;
  display: block;

}
.insideSection{
  padding: 35px;

}
 .greyMain{
  
   background: lavender;
 }

.purpleMain{
  color:lavender; 
  background: #3b1642;
}
.purpleMain a{
  color: #55828B
}



 .main{
    width: 100%;  
    display: block;
    /* margin-left:5%; */
    float: left; 
    position: relative;
    z-index: -8;
 }

 a {
    text-decoration: none;
    color: #3b1642;
 }
 
 .golden{
   text-align: center;   width: 30%;
   height: 100vh;
  background: goldenrod;
  z-index: -2;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: none;
  position: fixed;
  float: left
 }
a:hover {
   /* color: #0e0d0d; */
   text-decoration: underline;
 }


.clouds{
  position: fixed;
  z-index: -7;
}
.cloud1{
  margin-left: 10%;bottom: 24%;

}
.cloud2{
  z-index: -4;
  margin-left: 60%;bottom: 7%;
}
.cloud3{
 margin-left: 30%;bottom: 50%;
}
.cloud4{
  z-index: -4;
  margin-left: 40%; bottom: -29%;
}
.cloud5{
  z-index: 1;

  margin-left: 70%; bottom: -153%;
}
.cloud6{
  z-index: 1;

  margin-left: 25%; bottom: -178%;
}
.cloud7{
  z-index: 1;

  margin-left: 60%; bottom: -77%;
}
.cloud8{
  z-index: 1;
  margin-left: 10%; bottom: -74%;
}
.cloud9{
  z-index: -4;

  margin-left: -5%; bottom: -23%;
}
.cloud10{
  /* z-index: -4; */
display: block;
  margin-left: 80%; bottom: -6%;
}

.mountain{
  bottom: 0;z-index: 3; position: fixed; 
  margin-left: -10%;

}

.arrow{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%; 
  display:block;
  text-align: center;     
  position: fixed;
  top: 60%;  
  z-index: 0;
}
.mountainB{
  display: none;
}

.pics6{
width: 15%;
}

 @media only screen and (max-width: 800px) {
   .insideSection{
     padding-right: 10px;
  }

  .pics6{
    width: 29%;
  }

   .golden{display: none;}
   .greyMain{
      width: unset;
   }
   .purpleMain{
     width: unset;
   }

   .percentage{
    width: 60%;
   }
   .cloud9{
     margin-left:-15%;
     z-index: -7;
   }
   .cloud10{
     display: none;
   }

   .mainBox{
    padding-right: 30px;
    padding-bottom: 30px;
   }
   .graphSkills{
    /* margin-left: unset; */
    margin-right: unset;
  }
   .main{
    width: unset; 
    display: block;
    margin-left:0%;
  }  
  body{
    /* font-size: 20pt; */
  }
  .g-logo{
    display: block;
    text-align: center;
  }
  .mountain{
    display: none;
    margin-left: -40px;

  }
  .mountainB{
    display: block;
  }

  .hero{
    margin-top:45%;
    font-size: 22pt;
    width: unset

  }
  .hero2{
    font-size: 22pt;
    width: unset

  }

 a:hover {
  /* color: #0e0d0d; */
  text-decoration: none;
}
.craftBox{
  /* position: relative;
  float: left; */
  width: 100%;
}
 }