 
 body {
   /* font-variant-caps: petite-caps; */
   margin:0px;
   /* font-size: 12pt; */
   background: #55828B;
   scroll-behavior: smooth; 
   overflow-y: scroll;
   font-family: sans-serif; font-size: 16px; font-style: normal;

 }
 .circle{

 float: left;
    width: 10px;
    height: 10px;
    background: #3b1642;
    border-radius: 50%
  
 }
.logo{
   line-height: 150px;
   border: 1px solid black;

        width:150px;
        margin: auto;
        margin-top: 15px;
        border-radius: 50%;
        background: gray;
        color: black;
        display: block;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.g-logo{
  /* line-height: 150px; */
  text-align: center;
  float: left;
  
  position: fixed;
  height: 50px;
  border: 1px solid black;
  width:50px;
  margin: 15px;
  border-radius: 50%;
  background: goldenrod;
  color: black;
  display: none;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.hero{
  color: #3b1642;
  /* color: #632242; */
  /* color:#5d2042; */
  vertical-align: middle;
margin-top:15%;
  position: fixed;
  z-index: -6;
width:100vw;
  text-align: center;
    height: 100vh;
    font-size: 30pt;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.hero2{
  margin-top:50%;
  color: #3b1642;
  position: relative;
  z-index: 2;
  width:100%;
  position: relative;

  text-align: center;
  font-size: 30pt;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.greyInside{
  padding: 8px
}
 .greyMain{
  /* border: 1px solid black; */

  z-index: 4;
   /* clip-path: polygon(0% 0%, 0% 85%, 100% 100%, 100% 15%); */
   /* margin-top:50px;
   margin-bottom:50px; */
  position: relative;
   padding: 15px;
   background: gray;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
   display: block;
 }
 .main{
    width: 100%;  
    display: block;
    /* margin-left:5%; */
    float: left; 
    position: relative;
    z-index: -8;
 }

 a {
    text-decoration: none;
    color: #3b1642;
 }
 
 .golden{
   text-align: center;   width: 30%;
   height: 100vh;
  background: goldenrod;
  z-index: -2;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: none;
  position: fixed;
  float: left
 }
a:hover {
   /* color: #0e0d0d; */
   text-decoration: underline;
 }


.clouds{
  position: fixed;
  z-index: -7;
}
.cloud1{
  margin-left: 10%;bottom: 24%;

}
.cloud2{
  z-index: -4;
  margin-left: 60%;bottom: 7%;
}
.cloud3{
 margin-left: 30%;bottom: 50%;
}
.cloud4{
  z-index: -4;
  margin-left: 40%; bottom: -29%;
}
.cloud5{
  z-index: 1;

  margin-left: 70%; bottom: -153%;
}
.cloud6{
  z-index: 1;

  margin-left: 25%; bottom: -178%;
}
.cloud7{
  z-index: 1;

  margin-left: 60%; bottom: -77%;
}
.cloud8{
  z-index: 1;
  margin-left: 10%; bottom: -74%;
}
.cloud9{
  z-index: -4;

  margin-left: -5%; bottom: -23%;
}
.cloud10{
  /* z-index: -4; */
display: block;
  margin-left: 80%; bottom: -6%;
}

.mountain{
  bottom: 0;z-index: 3; position: fixed; 
  margin-left: -10%;

}


 @media only screen and (max-width: 800px) {
   .golden{display: none;}
   .greyMain{
      width: 100%;
      /* margin-top:80px;
      margin-bottom:80px; */

   }
   .cloud9{
     margin-left:-15%;
     z-index: -7;
   }
   .cloud10{
     display: none;
   }
   .main{
    width: 100%; 
    display: block;
    margin-left:0%;
  }  
  body{
    /* font-size: 20pt; */
  }
  .g-logo{
    display: block;
    text-align: center;
  }
  .mountain{
    margin-left: -40px;

  }

  .hero{
    margin-top:45%;
    font-size: 27pt;
  }
  .hero2{
    font-size: 27pt;

  }

 a:hover {
  /* color: #0e0d0d; */
  text-decoration: none;
}

 }