.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-size: 15px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainName {
  text-align: center;
  font-style: italic;
  font-family: "Brush Script MT", cursive;
  font-weight: lighter;
  color: #dcd0da;
  font-size: 90px;
  position: absolute;
  width: 100%;
  padding-top: 250px;
  /* animation: twinkle;
  animation-duration: 6s;
  /* animation-delay: 1s; */
  /* animation-fill-mode: forwards;
  transition-timing-function: ease-in; */
  animation: twinkle 7s alternate infinite;
  opacity: 0%;
}

.paragraph {
  padding: 30px;
  width: 70%;
  margin: auto;
  color: #dcd0da;
  font-family: sans-serif;
}
.contact {
  padding: 30px;
  width: 70%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 830px) {
  body {
    font-size: 25px;
  }
  .mainName {
    font-size: 125px;
  }
}
@media screen and (max-width: 520px) {
  body {
    font-size: 25px;
  }
  .mainName {
    font-size: 95px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes twinkle {
  0% {
    opacity: 3%;
  }
  100% {
    opacity: 70%;
  }
}
