:root {
  /** sunny side **/
  --light-background: #b87e54;
  --light-olive: #4d4828;
  --light-blue: #99c1c3;
  --light-purple: #67597a;
  --light-yellow: #e0cd7e;
  /** dark side **/
  --dark-background: #283618;
  --dark-darkblue: #001d3d;
  --dark-blue: #003566;
  --dark-darkestblue: #000814;
  --dark-mustard: #664e00;
  /** sunny side **/

  --blue-background: #c2e9f6;
  --blue-border: rgb(106, 185, 189);
  --blue-color: #99c1c3;
  --yellow-background: rgb(224, 217, 126);
  --yellow-border: #e0cd7e;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #001d3d;
  --indigo-color: #003566;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: rgb(248, 248, 245);
  width: 100%;
}
.rooter {
  height: 100%;
}

.mainContent {
  width: 55%;
  margin-left: auto;
  display: flex;
  height: 100vh;
}

.mainButtons {
  min-width: 120px;
  padding: 10px;
  /* height: 100%; */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.buttons {
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;

  background-color: var(--light-blue);
  border-radius: 15%;
  color: inherit;
}

.buttons:hover {
  text-decoration: underline;
  box-shadow: 3px 4px #00000026;
}
.portolfio {
  display: none;
}
.skills {
  display: none;
}
.about {
  display: block;
}

.sections {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 15px;
  width: 100%;
}

.mosthigh {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 5;
}

body {
  /* background-color: var(--dark-background); */
  color: whitesmoke;
  font-family: Verdana, sans-serif;
}
h2 {
  margin-top: 50px;
  margin-bottom: 15px;

  text-align: center;
}

.headshot {
  border-radius: 50%;
  width: 250px;
  margin: auto;
  border: 2px solid var(--dark-darkestblue);
  border-radius: 50%;
}



.head {
  transition: all 250ms ease-in;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  color: black;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 17%,
    rgba(9, 9, 121, 1) 49%,
    rgba(99, 177, 218, 1) 92%
  );
}


.header-width {
  width: 50%;
}

.hide {
  opacity: 0%;
}

.contact-group {
  margin-top: 75px;
}

.contact-group a {
  margin: 15px;
  padding: 3px;
  border-bottom: 0px solid var(--light-yellow);
}

.contact-group a:hover {
  border-bottom: 1px solid var(--light-yellow);
  transition-duration: 1s;
}
.contact-group a p {
  margin-top: 0px;
  color: whitesmoke;
}

.contact-links {
  width: 30px;
  transition-duration: 1s;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
}

.parallax {
  /* The image used */
  background-image: url("./photos/swingsman.png");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
}


@media screen and (max-width: 766px) {
  .contact-group {
    justify-content: center;
    margin-top: 40px;
  }
}
